.description {
  @extend %reset-list;
  gap: 30px;    
  margin-top: 0;
  margin-bottom: 0;

  @media screen and (min-width: 480px) {
    display: block;
    // text-align: center;
    
   }

   @media screen and (min-width: 768px) {
    @include justFlex(flex);
   }

   @media screen and (min-width: 1200px) {
    @include justFlex(flex); 
   }
 }
 
 .description__box {
    
  @media screen and (min-width: 480px) {
    @include justFlex(flex);
    flex-direction: column;
    
   }

   @media screen and (min-width: 768px) {
    @include justFlex(flex);
    flex-wrap: wrap;
   }

   @media screen and (min-width: 1200px) {
    @include justFlex(flex); 
    max-width: 270px;
    flex-direction: column;
    flex-wrap: nowrap;
   }
 }
 
 .description__title--bottom {
  @include fonts(14px, 16px, 700);
  margin-bottom: 10px;
  text-transform: uppercase;

  @media screen and (min-width: 480px) {
    display: block;
    text-align: center;
    
   }

   @media screen and (min-width: 768px) {
    @include justFlex(flex);
   }

   @media screen and (min-width: 1200px) {
    @include justFlex(flex);
   }

 }
 
 .description__text {
  @include fonts(14px, 24px);

   color: var(--grey-txt-cl);
 }